.DS_Store
*.suo
*.user
Renting.Core/maildir
[Dd]ebug/
[Rr]elease/
build/
[Bb]in/
[Oo]bj/
/out/**/*
packages/*
node_modules/
**/.vs
**/*.bak
*/client/**/*.json
*/client/**/*.js
*/client/**/*.json
/Calc.WebClient/**/*.ts.bak
*/tests/**/*.js
*/tests/**/*.map
*/tests/**/*.json
!*/client/**/dist/**/*.js
*/client/**/*.js.map
/projs/*



/**/.idea/
/Calc.WebClient/app
/Calc.WebServer/Renting.Core/app
/Calc.WebServer/Renting.Core/client
/Calc.WebServer/.vs
/Calc.WebClient/src/app/template-with-menu/pages/auth/verify-email/*.bak
/Calc.WebClient/src/services/*.bak
/Calc.WebServer/Renting.Core/maildir
/Calc.WebClient/src/app/template-with-menu/header/*.bak
/Calc.WebClient/src/app/template-with-menu/*.bak
/Calc.WebClient/src/app/template-with-menu/pages/admin/users/user-item-modal/*.bak
/Calc.WebClient/src/**/*.bak
/Calc.WebClient/.angular
/Calc.WebClient/node_modules2
/Calc.WebClient/node_modules3
*/**/*.bak
